<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Here:</title>
  </head>
  <body>
    <hr />
    <p>Please enter your name to join and share your bucket list:</p>
<form name="loginForm">
  <input type="text" name="name" ng-model="newUser.name" placeholder='Your name here...' ng-minlength="2" required />
  <input type='submit' ng-click='createUser()' value='Enter' />
  <div ng-messages="loginForm.name.$error" role="alert">
    <p ng-message="minlength">You must enter at least 2 letters!</p>
    <p ng-message="required">Name is required!</p>
  </div>
</form>
  </body>
</html>
